{% extends "base.html" %}

{% block title %}
tock
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h1 style="padding:20px 0px 20px 0px">Stock movements demonstrator</h1>
            </div>

        </div>
        <div class="row">
            <div class="col"><b>Select stock</b></div>
            <div class="col">
                <select id="stock" class="form-select select-500" aria-label="Select" )>
                    <option selected value="MSFT">Microsoft</option>
                    <option value="FB">Facebook</option>
                    <option value=AAPL>Apple</option>
                    <option value="GOOGL">Google</option>
                    <option value="SBIN">SBIN</option>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </select>
            </div>
            <div class="col"><b>for period</b></div>

            <div class="col">
                <select id="period" class="form-select" aria-label="Select" )>
                    <option selected value="1d">1 day</option>
                    <option value="5d">5 days</option>
                    <option value="1mo">1 month</option>
                    <option value="3mo">3 months</option>
                    <option value="6mo">6 months</option>
                    <option value="1y">1 year</option>
                    <option value="2y">2 years</option>
                    <option value="5y">5 years</option>
                    <option value="10y">10 years</option>
                    <option value="ytd">Year to date</option>
                    <option value="max">Max</option>
                </select>
            </div>
            <div class="col"><b>Interval</b></div>

            <div class="col">
                <select id="interval" class="form-select" aria-label="Select" )>
                    <option selected value="1m">1 minute</option>
                    <option value="2m">2 minutes</option>
                    <option value="5m">5 minutes</option>
                    <option value="15m">15 minutes</option>
                    <option value="30m">30 minutes</option>
                    <option value="60m">60 minutes</option>
                    <option value="90m">90 minutes</option>
                    <option value="1d">1 day</option>
                    <option value="5d">5 days</option>
                    <option value="1w">1 week</option>
                    <option value="1m">1 month</option>
                    <option value="3m">3 months</option>

                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="callback()">Fetch stock</button>
            </div>
            <div class="w-100" style="padding:10px;text-align:right;font-size: small;"><i>Note: not all intervals are
                    valid for all periods</i></div>

            <div class="col-3"><p><b>Stock info</b></p>
                <p>Symbol: <span id="symbol">N/A</span></p>
                <p>Year High: <span id="yearHigh">N/A</span></p>
                <p>Year Low: <span id="yearLow">N/A</span></p>

                
            </div>
            <div class="col-9">
                <div class="head-logo">
                    <div  id="logo"></div>
                    <h2 id="companyName" ></h2>
                </div>
                <div id="chart" class="chart" style="height: 300px;border: 1px solid; 
                    box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>
            <div class="col-12" style="font-size:smaller;padding:10px;text-align: right;">
                <i>The data is, to the best of our knowledge, correct but cannot be guarenteed to be so</i>
                <br/>
                <i>This is not meant for investment advices </i>
           </div>    
        </div>

    </div>
 <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script>
        async function callback() {
            let Stock = document.getElementById('stock').value;
            let Period = document.getElementById('period').value;
            let Interval = document.getElementById('interval').value;
            //alert(Stock+Period+Interval);
            //return;
            let response = await fetch("/callback/getStock?data=" + Stock );
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    response = await fetch("/callback/getInfo?data=" + Stock);
                    let infoJson = await response.json();
                    info(infoJson);
                    Plotly.newPlot('chart', chartJson, {});
                } else {
                    alert("HTTP-Error: " + response.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + response.status + "on getStock");
            }
        }
        function info(json) {
            let name = document.getElementById('companyName');
            name.innerHTML = json.shortName;
            name = document.getElementById('symbol');
            name.innerHTML = json.symbol;
            name = document.getElementById('yearHigh');
            name.innerHTML = json.a52high.toFixed(2);
            name = document.getElementById('yearLow');
            name.innerHTML = json.a52low.toFixed(2);
            logo = document.getElementById("logo");           
            console.log(logo)
            logo.innerHTML = `<img src="${json.logo}" alt="LOGO" >`
        }

        async function fetchListOfStocks() {
            response = await fetch("/callback/fetchListOfStocks");
                    let fetched500 = await response.json();
                    console.log(fetched500);
            select500 = document.querySelector('.select-500')
            str = ``
            // console.log(typeof(fetched500.symbol))
            // console.log(fetched500.symbol)

            for (let i = 0; i < fetched500.symbol.length; i++) {
                // console.log(fetched500.symbol[i])
                // console.log(fetched500.companyName[i])
                // console.log(`<option value="${fetched500.symbol[i]}">${fetched500.companyName[i]}</option>`)

                str+=`<option value="${fetched500.symbol[i]}">${fetched500.companyName[i]}</option>`
            }
            select500.innerHTML= str
            // <option value="SBIN.NS">SBIN</option>
        }
        fetchListOfStocks()
    </script>


{% endblock %}
